h1 {
    text-align: center;
}

.placeholder {
    width: 200px;
}

.placeholder-wrapper {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.inputs-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.save-buttons {
    display: flex;
    padding: 5px;
    margin: 5px;
    justify-content: center;
}

.user-buttons {
    margin: 5px;
    padding: 100px;
}

.add-button {
    display: flex;
    justify-content: center;
}

.injury-display {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
}

.injury-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.add-injury {
    width: 40%;
    padding: 10;
    margin: 5;
    font-size: 16;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding-top: 10%;
}